/*
Sade Molitor
Assignment 9-1
10-17-23
*/

body
{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: black;
    background-color: #7c898b;
}



#wrapper
{

    background-color: #b2d2d8;
    width: 1000px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

#foot
{

    color: rgba(13, 21, 27, 0.842);
    padding-top: 150px;
    
}

h1
{

    color: rgba(41, 79, 104, 0.842);
    font-style: italic;
    letter-spacing: .4px;
    line-height: 8px;
    border: solid;
    border-width: 1px;
    border-color: #8a9da1;
    word-spacing: 3px;
    text-align: center;
    background-color: #daecf0;
    font-size: 2em;
}

h2{

    color: rgba(74, 110, 134, 0.842);
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    letter-spacing: .4em;
}

h3{

    color: rgba(13, 21, 27, 0.842);
    text-align: center;
    font-size: 1em;
}

p
{

    font-weight: 900;
    text-align: start;
    line-height: 1.5;
    width: 600px;
    border: solid;
    border-color:rgba(41, 79, 104, 0.842);
    padding: 10px;
}

.banner
{
    border: solid;
    border-color:rgba(41, 79, 104, 0.842);
}

.me
{
    border: solid;
    border-color:rgba(41, 79, 104, 0.842);
    float: right;
}

header
{

    font-style: italic;
}

.artleft
{

    text-align: center;
}

.right
{
    padding: 15px;
    float: right;

}

